LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="<self_hosted_url>"
LANGSMITH_API_KEY="<create_langsmith_api_key_in_personal_org>"
LANGSMITH_PROJECT="langsmith-in-code"
OPENAI_BASE_URL="<ai_proxy_url>"
OPENAI_API_KEY="<ai_proxy_api_key>"

GITHUB_TOKEN="<redacted>" # for prompthook server
GITHUB_REPO_OWNER="achan-circle" # for prompthook server, replace with your fork
GITHUB_REPO_NAME="langsmith-in-code" # for prompthook server, replace with your fork
